@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

section[id] {
    scroll-margin-top: 56px;
    padding: 80px 300px;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 75px;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 55px;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 30px;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 17px;
}

